@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
@theme {
  --color-brand: #00B7B5;
  --color-brand-dark: #009b99;
  --color-primary: #018790;
  --color-primary-hover: #00878e;
  --color-primary-accent: #00b7b5;
  --color-primary-light: #f4f4f4;
}

:root[dir="rtl"], html[dir="rtl"], body[dir="rtl"] {
    font-family: 'Cairo', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
}
